* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html,
body {
  height: 100%;  
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

@font-face {
  font-family: 'all';
  src: url('./fonts/THE\ GONjURING.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.joke-box {
  max-width: 650px;
  margin: 50px auto;
  padding: 30px;
  background-color: black;
  border: 2px solid #ffffff;
  border-radius: 25px;
  text-align: center;
  color: #eee;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 50px rgba(255, 255, 255, 0.7);

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: bisque;
    font-family: 'all';
  }

  #joke {
    font-size: 1.5rem;
    margin: 20px 0;
    min-height: 4em;
     font-family: 'all';
  }

  button {
    padding: 14px 28px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background:linear-gradient(45deg, #ff0066, #cc0044);
    color: black;
    cursor: pointer;
    font-family: 'all';
    transition: transform 0.2s ease, background 0.3s ease;
  }

  button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, rgb(3, 102, 3), rgb(0, 255, 0));
    color: white;
  }

  .dis{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9vw;
  }
}

/* From Uiverse.io by Smit-Prajapati */ 
.button {
  /* in scss with just one variable i can change opacity with rgba(variable, opacity) but in css it's not possible so i have used three seperate variables */
  /* with hue-rotate color can be changed */
  --main-color: rgb(46, 213, 115);
  --main-bg-color: rgba(46, 213, 116, 0.36);
  --pattern-color: rgba(46, 213, 116, 0.073);

  /* change this rotation value */
  filter: hue-rotate(0deg);

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    15px 15px,
    15px 15px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--main-color) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--main-color);
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  transition: background-size 0.2s ease-in-out;
}

.button:hover {
  background-size:
    cover,
    10px 10px,
    10px 10px;
}
.button:active {
  filter: hue-rotate(250deg);
}

